#nouveaucompte{
    width:98%;
}
.formulaire{
    display:flex;
    flex-direction: column;
}
input{
    margin:3px 10px;
    width:70%;
}
select{
    margin:3px 10px;
    width:70%;
}
#ajoutercompte{
    background-image: url("../images/ajoutercompte.png");
    color: rgb(73,145,49);
    border: 2px solid rgb(73,145,49);
}